<div class="box">
	<div class="box-inner">
		<span class="box-icon {{icon}} {{iconColor}}"></span>
		<div>
			{{name}}
			<p class="box-description">
				{{description}} {{descriptionPost}}
			</p>
		</div>
	</div>
</div>