<div class="left-icon-box session-stats dark xs-fullwidth mr-5">
	<div class="left-icon big">
		<span class='icon-border'><img src="\{{icon}}"/></span>
	</div>
	<div class="columns">
		<div class="full-column w-100">
			<p class='session-type'>{{ session.packType }}</p>
			<p class='session-timestamp'>
				<span class="t-dark-green">\{{totalSessionTime}}</span> 
				\{{sessionDateDay}} at \{{sessionDateTime}}
			</p>
		</div>
	</div>
</div>